@use "../utils" as *;

.edit{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 11px;

    background: $black;

    p{
        padding: 22px 0px;
        color: $white;
    }
}

.editProject{
    display: flex;
    align-self: center;
    
    position: absolute;
    right: 29%;
    
    cursor: pointer;
    
    &:hover p{
        font-weight: bold;
    }
}